<h1>Login</h1>

<form action="">
    <label>Insira seu e-mail:</label>
    <br>
    <input type="email">
    <br>
    <label>Insira sua senha:</label>
    <br>
    <input type="password">
    <br>
    <br>
    <input type="submit">Entrar</input>
    <br>
    <br>
    <br>
    <p>Caso ainda não tenha cadastro: </p>
    <a href="/api/v1/register">Clique aqui</a>
</form>