<h1>Registrar</h1>

<form action="/api/v1/register/create" method="POST">
    <label>Insira seu nome:</label>
    <br>
    <br>
    <input type="text" name="user[name]">
    <br>
    <br>
    <label>Insira seu e-mail:</label>
    <br>
    <br>
    <input type="email" name="user[email]">
    <br>
    <br>
    <label>Insira sua senha:</label>
    <br>
    <br>
    <input type="password" name="user[senha]">
    <br>
    <br>
    <input type="submit">
</form>